<footer class="pt-4 my-md-5 pt-md-5 border-top">
   <div class="row">
     <div class="col-12 col-md">
       <img class="mb-2 rounded-circle" src='{{"assets/images/footerimg" + ".jpg"}}' alt="" width="45" height="45">
       <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
     </div>
     <div class="col-6 col-md">
       <h5>Produtos 
        <mat-icon>shopping_cart</mat-icon>
       </h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Livros</a></li>
       </ul>
     </div>
     <div class="col-6 col-md">
       <h5>Sobre
        <mat-icon>help</mat-icon>
       </h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Nossa Loja</a></li>
       </ul>
     </div>
     <div class="col-6 col-md">
       <h5>Suporte
        <mat-icon>settings_phone</mat-icon>
       </h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">O que você precisa?</a></li>
       </ul>
     </div>
   </div>
 </footer>